<!-- v-directive 연습용 페이지 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>vue-simple-sample</title>
    <style media="screen">
      [v-cloak] { display : none; }
    </style>
  </head>
  <body>
    <!-- [v-cloak] : {{ }} 을 가려준다. css 속성 추가해야한다. -->
    <div id="app" style="text-align:center;" v-cloak>

      <!-- [v-html] : html 코드를 랜더링한다 -->
      <p v-html="htmlLink"></p>

      <!-- [v-bind:attr] : element의 속성에 데이터 값을 설정한다. v-bind는 생략할 수 있다.-->
      <h2>position</h2>
      <img v-bind:src="positions[posIdx].logo" :style="sizeStyle"/>

      <!-- [v-for] : 반복문 -->
      <div class="position">
        <li v-for="(item, idx) in positions">
          <span>{{ item.type }}</span>
          <input type="radio" name="pos" :checked="idx == posIdx" @click="changePos(idx)"/>
        </li>
      </div>

      <hr>

      <div class="text-type-v-model">
        <h1> {{ playOftheGame }} </h1>
        <!-- [v-model] : 양방향 바인딩을 위한 디렉티브. form관련 태그에만 사용한다 -->
        <p> name : <input type="text" v-model="name" @keyup.enter="hitEnter"/></p>
        <h2>{{ name }}</h2>
        <img :src="ana" :style="thumbStyle"/>
      </div>

      <!-- [v-if] : 조건문 -->
      <div class="legend" v-if="voteNumber > 5">
        <span>전설적입니다.</span>
      </div>

      <!-- [v-on] : event를 처리하기 위해 사용하는 디렉티브. @로 v-on 생략 가능 -->
      <div class="method-with-v-on-or-@" >
        <h2>{{ voteNumber }}</h2>
        <button type="button" v-on:click="vote">VOTE</button>
        <button type="button" v-on:click="voteNumber--">VOTE CANCEL</button>
        <button type="button" @click="resetVote">RESET</button>
        <button type="button" @click="voteLuckyFinish">VOTE LUCKEY FINISH</button>
      </div>

       <!-- 인자 받기 : 사용자 패러미터는 바로 쓰지만 이벤트 패러미터는 $를 붙임 -->
      <p @mousemove="mousePos(2,$event)">hover here! {{ x }}, {{ y }}
        <!-- .stop 이나 .stop.prevent 으로 이벤트 전파를 막을 수 있다 (=stopPropagation)-->
        <span @mousemove.stop="">[DEAD ZONE]</span>
      </p>

    </div>
  </body>
</html>
